In [1]:
7+3**6

736

In [2]:
(3+4)**3

343

In [3]:
3**6-5

724

In [4]:
(1+2**8)*5

1285

In [6]:
(2+1**8)**7

2187

In [ ]:
3**6-5=724 n'est pas un nombre de friedman

In [7]:
(1+2)**3

27

In [8]:
"da"*4

'dadadada'

In [9]:
"da"+3

TypeError: can only concatenate str (not "int") to str

In [10]:
("Pa"+"La")*2

'PaLaPaLa'

In [11]:
("Da"*4)/2

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [12]:
(5/2)

2.5

In [13]:
5//2

2

In [14]:
5%2

1

In [15]:
str(4)*int("3")

'444'

In [16]:
int("3")+float("3.2")

6.2

In [17]:
str(3)*float("3.2")

TypeError: can't multiply sequence by non-int of type 'float'

In [18]:
str(3/4)*2

'0.750.75'