In [5]:
client1 = {}
print(client1)

{}

In [6]:
#Step 2: Récup les 4 données client 1 avec boucle qu'on rentrera directement en console puis inprimer données.

client1 = {}

#liste des clés pour données client
clés = ["Nom","Prénom","Sexe","Solde"]

#Boucle pour entrer données directement dans console pour chaque clés
for c in clés:
        client1[c] = input(f"Entrer {c} pour client1: ")
        
        
print(client1)

Entrer Nom pour client1: AGU
Entrer Prénom pour client1: PATRICK
Entrer Sexe pour client1: M
Entrer Solde pour client1: 3000
{'Nom': 'AGU', 'Prénom': 'PATRICK', 'Sexe': 'M', 'Solde': '3000'}

In [8]:
client2 = {}
client3 = {}
client4 = {}
client5 = {}
client6 = {}
client7 = {} 
client8 = {}
client9 = {} 
client10 = {}
client11 = {}
client12 = {}
client13 = {}
clients = [client1,client2,client3,client4,client5,client6,client7,client8,client9,client10,client11,client12,client13]

clients

[{'Nom': 'AGU', 'Prénom': 'PATRICK', 'Sexe': 'M', 'Solde': '3000'},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {},
 {}]

In [2]:
clés = ["Nom", "Prénom", "Sexe", "Solde"]

# Step 3: Création d'une liste total de 13 dictionnaires clients
clients = [{} for x in range(13)]

# Step 4: Récupération des données pour tous les clients
for i, client in enumerate(clients):
    print(f"Client {i+1}")
    for c in clés:
        client[c] = input(f"Entrez {c} pour client {i+1}: ")

# Affichage des données de tous les clients
for i, client in enumerate(clients):
    print(f"Données du client {i+1}:", client)

Client 1
Entrez Nom pour client 1: AGU
Entrez Prénom pour client 1: PAT
Entrez Sexe pour client 1: M
Entrez Solde pour client 1: 3000
Client 2
Entrez Nom pour client 2: JANAS
Entrez Prénom pour client 2: BART
Entrez Sexe pour client 2: M
Entrez Solde pour client 2: 2000
Client 3
Entrez Nom pour client 3: BAYAR
Entrez Prénom pour client 3: MUN
Entrez Sexe pour client 3: M
Entrez Solde pour client 3: 1500
Client 4
Entrez Nom pour client 4: BONNIN
Entrez Prénom pour client 4: PHILIPPE
Entrez Sexe pour client 4: M
Entrez Solde pour client 4: 4500
Client 5
Entrez Nom pour client 5: CARREY
Entrez Prénom pour client 5: RAPHAEL
Entrez Sexe pour client 5: M
Entrez Solde pour client 5: 5000
Client 6
Entrez Nom pour client 6: CHELED
Entrez Prénom pour client 6: ALEXANDRE
Entrez Sexe pour client 6: M
Entrez Solde pour client 6: 3500
Client 7
Entrez Nom pour client 7: CHIKRI
Entrez Prénom pour client 7: HASSAN
Entrez Sexe pour client 7: M
Entrez Solde pour client 7: 2500
Client 8
Entrez Nom pour client 8: DESSOLIN
Entrez Prénom pour client 8: THIBAUT
Entrez Sexe pour client 8: M
Entrez Solde pour client 8: 4000
Client 9
Entrez Nom pour client 9: LAKHDAR
Entrez Prénom pour client 9: HADJER
Entrez Sexe pour client 9: F
Entrez Solde pour client 9: 1000
Client 10
Entrez Nom pour client 10: MEUNIER
Entrez Prénom pour client 10: ALEXIS
Entrez Sexe pour client 10: M
Entrez Solde pour client 10: 3000
Client 11
Entrez Nom pour client 11: MOHAMED
Entrez Prénom pour client 11: AHMED
Entrez Sexe pour client 11: M
Entrez Solde pour client 11: 2500
Client 12
Entrez Nom pour client 12: SADOUN
Entrez Prénom pour client 12: SALAH
Entrez Sexe pour client 12: M
Entrez Solde pour client 12: 6000
Client 13
Entrez Nom pour client 13: THEUREU
Entrez Prénom pour client 13: PAUL
Entrez Sexe pour client 13: M
Entrez Solde pour client 13: 4500
Données du client 1: {'Nom': 'AGU', 'Prénom': 'PAT', 'Sexe': 'M', 'Solde': '3000'}
Données du client 2: {'Nom': 'JANAS', 'Prénom': 'BART', 'Sexe': 'M', 'Solde': '2000'}
Données du client 3: {'Nom': 'BAYAR', 'Prénom': 'MUN', 'Sexe': 'M', 'Solde': '1500'}
Données du client 4: {'Nom': 'BONNIN', 'Prénom': 'PHILIPPE', 'Sexe': 'M', 'Solde': '4500'}
Données du client 5: {'Nom': 'CARREY ', 'Prénom': 'RAPHAEL', 'Sexe': 'M', 'Solde': '5000'}
Données du client 6: {'Nom': 'CHELED', 'Prénom': 'ALEXANDRE', 'Sexe': 'M', 'Solde': '3500'}
Données du client 7: {'Nom': 'CHIKRI ', 'Prénom': 'HASSAN', 'Sexe': 'M', 'Solde': '2500'}
Données du client 8: {'Nom': 'DESSOLIN', 'Prénom': 'THIBAUT', 'Sexe': 'M', 'Solde': '4000'}
Données du client 9: {'Nom': 'LAKHDAR', 'Prénom': 'HADJER', 'Sexe': 'F', 'Solde': '1000'}
Données du client 10: {'Nom': 'MEUNIER ', 'Prénom': 'ALEXIS', 'Sexe': 'M', 'Solde': '3000'}
Données du client 11: {'Nom': 'MOHAMED', 'Prénom': 'AHMED', 'Sexe': 'M', 'Solde': '2500'}
Données du client 12: {'Nom': 'SADOUN', 'Prénom': 'SALAH', 'Sexe': 'M', 'Solde': '6000'}
Données du client 13: {'Nom': 'THEUREU', 'Prénom': 'PAUL', 'Sexe': 'M', 'Solde': '4500'}

In [28]:
#step 5 
client4["Solde"]= client4["Solde"] - 500
print(client4["Solde"])

NameError: name 'client4' is not defined

In [12]:
#Step 6 
soldetotal = 0 
for client in clients :
    soldetotal = int(soldetotal + client["Solde"])
    
print(soldetotal)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [26]:
Homme = 0
Femme = 0
for clés in client : 
    if client["Sexe"] == "M" :
        Homme += 1
    else :
        Femme += 1

In [15]:
#Step 8 Ajout de KURDY Bassam avec un solde de 2000 euros
client14 = {"Nom": "KURDY", "Prénom": "Bassam", "Sexe": "M", "Solde": 2000}
clients = clients + [client14]